<?xml version="1.0" encoding="utf-8"?>
<package login="{{SMSC_LOGIN}}" password="{{SMSC_PASS}}">
    <message>
        <default sender="{{DEF_SENDER}}"/>
        <msg recipient="{{phone_number}}" type="0">{{text_sms}}</msg>
    </message>
</package>
